@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --aliceBlue: #f9fafb;
  --border: #e1e1e1;
  --primaryText: #1a1a1a;
  --tangerine: #f59d0e;
  --gray: #9da4b2;
  --silver: #c0c0c0;
  --waikawaGray: #677289;
  --manateeGray: #8c93a1;
  --blue: #2f72e2;
  --red: #ef494f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-aliceBlue: var(--aliceBlue);
  --color-border: var(--border);
  --color-primaryText: var(--primaryText);
  --color-tangerine: var(--tangerine);
  --color-gray: var(--gray);
  --color-silver: var(--silver);
  --color-blue: var(--blue);
  --color-red: var(--red);
  --color-waikawaGray: var(--waikawaGray);
  --color-manateeGray: var(--manateeGray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --shadow-mini: 0 1px 3px rgba(0, 0, 0, 0.04);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
